.search {

}

.form {
    padding: 40px 50px;
    text-align: center;
}

.form input {
    padding: 12px;
    width: 50%;
    height: 60px;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    box-shadow: 0 5px 10px hsla(200, 15%, 8%, 0.1);
    outline: none;
}

.form input::placeholder {
    color: #b2b2b2;
}

.form .visually-hidden {
    display: none;
}

/* Media queries */
@media (max-width: 992px) {
    .form {
        padding: 30px 50px;
        text-align: center;
    }

    .form input {
        width: 80%;
    }
}

/* Media queries */
@media (max-width: 640px) {
    .form {
        padding: 30px 0;
        text-align: center;
    }

    .form input {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .form {
        padding: 30px 50px;
        text-align: center;
    }
}