article {
    transition: background-color 0.4s;
    box-shadow: 0 5px 10px hsla(200, 15%, 8%, 0.1);
    cursor: pointer;
}

.flag {
    height: 180px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 5px 5px 0 0;
}

.details {
    border-radius: 0 0 5px 5px;
    background-color: #ffffff;
    margin: -10px 0 30px;
    padding: 20px;
    color: var(--text-color);
    transition: background-color 0.4s;
}

.details h4 {
    margin: 10px 0;
}

.details h4 span {
    font-weight: 300;
}