.header {
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    background-color: #ffffff;
    box-shadow: 0 5px 10px hsla(200, 15%, 8%, 0.1);
}

.header a {
    color: var(--text-color);
}